.card {
  width: 400px;
  height: 350px;
  perspective: 1100px;
  position: relative;
  margin: 10px;
  transition: 0.4s;
  transform-style: preserve-3d;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px black, inset 0px 0px 10px rgba(0, 0, 0, 1);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.front {
  background: teal;
  background-position: center;
  background-size: cover;
}

.back {
  backface-visibility: hidden;
  background: white;
  transform: rotateY(180deg);
}

.back p {
  padding: 30px;
  font-size: 20px;
}

#info1 {
  height: 600px;
}
#info1 div.front {
  background-image: url("../img/haksoo.jpg");
}

#info2 {
  height: 220px;
}
#info2 div.front {
  background-image: url("https://thumbs.dreamstime.com/b/generaci%C3%B3n-de-los-hombres-en-diversas-edades-del-beb%C3%A9-infantil-al-ejemplo-mayor-del-vector-del-viejo-hombre-77591440.jpg");
}

#info3 {
  height: 480px;
}
#info3 div.front {
  background-image: url("https://cdn-icons-png.flaticon.com/512/2344/2344031.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(135, 206, 250, 0.5);
}

#info4 {
  height: 400px;
}
#info4 div.front {
  background-image: url("https://cdn.imweb.me/thumbnail/20200415/6b6e035658bac.png");
}

#info5 {
  height: 260px;
}
#info5 div.front {
  background-image: url("https://d12zq4w4guyljn.cloudfront.net/750_750_20220523020921_photo2_c995f1553fc5.jpg");
}

#info6 {
  height: 480px;
}
#info6 div.front {
  background-image: url("https://img.lovepik.com/photo/50103/6193.jpg_wh860.jpg");
}

#info7 {
  height: 200px;
}
#info7 div.front {
  background-image: url("https://static.neris-assets.com/images/homepage/header-mountains-desktop.svg");
}
#info7 div.back {
  padding-left: 30%;
  background-image: url(https://static.neris-assets.com/images/personality-types/headers/analysts_Logician_INTP_personality_header.svg);
  background-position: center;
  background-size: cover;
}

#info8 {
  height: 300px;
}
#info8 div.front {
  background-image: url("https://t1.daumcdn.net/cfile/tistory/99D8EA33599C559218");
}

#info9 {
  height: 220px;
}
#info9 div.front {
  background-image: url("http://m.hrinsight.co.kr/ja_data/upload/intranet/hrinsight/images/86p(10).jpg");
}

#info10 {
  height: 500px;
}
#info10 div.front {
  background-image: url("https://www.wikihow.com/images_en/thumb/e/ea/Learn-a-Programming-Language-Step-2-Version-4.jpg/v4-460px-Learn-a-Programming-Language-Step-2-Version-4.jpg.webp");
}

#info11 {
  height: 500px;
}
#info11 div.front {
  background-image: url("");
}

#info12 {
  height: 500px;
}
#info12 div.front {
  background-image: url("");
}
