<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Who is Haksoo?" />
    <meta
      property="og:description"
      content="학수에게 응원 한마디 남겨주세요!"
    />
    <meta property="og:image" content="img/1.jpg" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>Haksoo Ji</title>
    <script>
      $(document).ready(function () {
        show_comment();
      });

      function save_comment() {
        let name = $("#name").val();
        let comment = $("#comment").val();

        $.ajax({
          type: "POST",
          url: "/haksoo",
          data: { name_give: name, comment_give: comment },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function show_comment() {
        $.ajax({
          type: "GET",
          url: "/haksoo",
          data: {},
          success: function (response) {
            let rows = response["haksoos"];
            for (let i = 0; i < rows.length; i++) {
              let comment = rows[i]["comment"];
              let name = rows[i]["name"];

              let temp_html = `<div class="comments">
                                           <div class="comments-body">
                                             <blockquote class="blockquote mb-0">
                                               <p>${comment}</p>
                                               <footer class="from-who">${name}</footer>
                                             </blockquote>
                                           </div>
                                         </div>`;
              $("#comment-list").append(temp_html);
            }
          },
        });
      }
    </script>
    <link rel="stylesheet" href="../static/css/haksoo.css" />
  </head>
  <body>
    <main>
      <div class="header">
        <h1>Haksoo Ji</h1>
      </div>
      <div class="contents">
        <div class="card" id="info1">
          <!-- 앞면 -->
          <div class="front"></div>

          <div class="back">
            <p>
              안녕하세요 지학수입니다. <br /><br />이번에 스파르타 코딩클럽의
              내일배움캠프에 함께 참여하게 되었는데, 다들 반갑습니다!
              <br /><br />Node.js 트랙으로 함께 하게되었는데, 첫 미니 프로젝트로
              팀원들과 함께 팀 소개 페이지를 만들게 되었어요!
              <br /><br />만들다보니 대화할 것이 참 많아서 생각보다 빠르게
              친해지는 것 같아(저 혼자 이렇게 생각하는 것은 아니겠죠? ㅎㅎ;;) 더
              좋은 것 같습니다.🥰 <br /><br />이 페이지는 저에 대해서 소개하는
              페이지인데요. 저에 대해 좀 더 알아보고 싶으신 분들은 화면에 있는
              사진들을 클릭해주세요!
            </p>
          </div>
        </div>
        <div class="card" id="info4">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              저희 가족은 김치를 정말 좋아합니다. 매년 김장을 10Kg 이상씩 하는데
              6개월 먹으면 남는 것이 없는 편이죠. <br /><br />어머니가 가장
              자신있어 하는 요리 역시도 전부 김치가 들어가는 요리입니다.
              김치찌개, 김치전, 돼지고기김치볶음 등이 있습니다.
              <br /><br />덕분에 저도 김치를 정말 좋아합니다. 특히 삼겹살을 먹을
              때 김치를 구워서 같이 먹으면... 크~ 천국이 따로 없습니다.
            </p>
          </div>
        </div>
        <div class="card" id="info3">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              혹시 남한산성을 아시나요? 바로 경기도 광주에 있습니다.
              <br />2018년에 개봉한 공포영화 곤지암을 보셨나요? 곤지암이 바로
              경기도 광주에 있습니다. 전라남도 광주랑은 전혀 다른 곳이죠.
              <br /><br />전라남도 광주는 빛 광, 고을 주를 써서 빛고을이라고
              하던데, 경기도 광주는 넓을 광자를 사용합니다. 실제로 꽤나
              넓습니다. 넓은데 있는 것은 자연 말고는 딱히 없어요 자연친화적인
              곳입니다. 그래서 그런지 개인적으로 수도권치고 공기가 좋다고
              생각합니다. 밤에는 가끔 별도 조금씩 보이거든요.
            </p>
          </div>
        </div>
        <div class="card" id="info2">
          <!-- 앞면 -->
          <div class="front"><p></p></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              네 저는 대한민국에 살고 있는 28살의 건강한 남자입니다.
              <br /><br />마침 노드 트랙에서 보니까 비슷한 분들이 많더군요.
              친하게 지내고 싶습니다 ㅎㅎ
            </p>
          </div>
        </div>

        <div class="card" id="info7">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              논리술사 <br />INTP-A / INTP-T <br /><br />지식을 끝없이 갈망하는
              혁신적인 발명가입니다.
            </p>
          </div>
        </div>
        <div class="card" id="info10">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              혼자서 이것 저것 찔러보다가 개발자를 해봐야겠다는 생각에 공부를
              시작했습니다. 저는 무엇이든 재미가 없으면 굉장히 힘들어해서
              코딩공부도 재밌게 하고 싶었습니다. 책으로만 하다보니 아주
              죽을맛이더라구요. 그래서 기본 HTML,CSS,Javascript 공부를 위해서
              노마드코더라는 사이트에서 인터넷강의로 클론코딩을 조금 해보다가
              스파르타의 내일배움캠프에 합류하게 되었습니다.

              <br /><br />제가 클론코딩으로 공부하며 만들었던 장난감
              프로젝트들을 공유해보겠습니다. 이런거 공개하는 것이 몹시
              쑥쓰럽지만... 귀엽게 봐주세요.
            </p>
            <p></p>
          </div>
        </div>
        <div class="card" id="info6">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              최근 계속 살이 찌면서 건강도 안좋아지고 생활도 게을러지는 것
              같아서 몇 년만에 운동을 시작했습니다. <br /><br />내일배움캠프가
              거의 하루종일 있다보니 새벽에 6시정도 일어나서 동네한바퀴를
              돌고오면 기분도 상쾌해지고 좋아서 매일 하고 있습니다.
              <br /><br />조깅 외에도 공부하다 졸리거나 집중이 안될 때마다
              틈틈히 홈트레이닝을 잠깐씩 진행하는 중입니다. 시작한지 며칠
              안되었는데 벌써 좀 몸이 가벼운 것 같기도....?😁
            </p>
          </div>
        </div>
        <div class="card" id="info5">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              저는 커피 없이는 살지를 못하는 편입니다. 중독된 것 같아요....
              <br /><br />그래서 그런지 자연스럽게 달콤한 디저트도 좋아하게
              되더군요. 덕분에 코로나 이후 10키로가 넘게 찌면서 확찐자가
              되었습니다 ㅜㅠ
            </p>
          </div>
        </div>

        <div class="card" id="info8">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              장점이라...게다가 객관적으로 살펴본 장점이라니;; 이렇게 어려운
              질문에 답하는 것이 가능한 것일까요? 음...저는 호기심이 매우
              많습니다. 그리고 호기심을 해결하기 전까지는 쉽사리 포기하지 않죠.
              안좋은 측면도 있지만 원래 장점과 단점은 동전의 양면과 같은
              법이라고 들었어요. 그런거로 해주세요...
            </p>
          </div>
        </div>
        <div class="card" id="info9">
          <!-- 앞면 -->
          <div class="front"></div>
          <!-- 뒷면 -->
          <div class="back">
            <p>
              이 프로젝트를 진행하면서 협업 역시 처음해봤는데요. 색다른
              경험이었습니다. 다들 열심히 하시는 모습을 보니 저도 혼자할 때보다
              더 열심히하게 되더라구요. 협업을 하면 더욱 뜨거워 지는 스타일인가
              봅니다.
            </p>
          </div>
        </div>
      </div>
      <div class="my-icons">
        <a href=""
          ><img
            class="my-projects"
            src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
            alt="github"
        /></a>
        <a href=""
          ><img
            class="my-projects"
            src="https://velog.velcdn.com/images/velog/profile/9aa07f66-5fcd-41f4-84f2-91d73afcec28/green%20favicon.png"
            alt="velog"
        /></a>
        <a href=""
          ><img
            class="my-projects"
            src="https://nomadcoders.co/heros/kokoaClone.svg"
            alt="kokoa-clone"
        /></a>
        <a href=""
          ><img
            class="my-projects"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAZQeolHe0wcvHz3flp4fibnT4SaCdxtGCDg&usqp=CAU"
            alt="momentum-clone"
        /></a>
        <a href=""
          ><img
            class="my-projects"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Logo_of_Hugo_the_static_website_generator.svg/2560px-Logo_of_Hugo_the_static_website_generator.svg.png"
            alt="HUGO"
        /></a>
      </div>

      <div class="mypost">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="url" />
          <label for="floatingInput">닉네임</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="comment"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">응원댓글</label>
        </div>
        <button onclick="save_comment()" type="button" class="btn btn-dark">
          응원 남기기
        </button>
      </div>
      <div id="comment-list"></div>
    </main>
    <script src="../static/js/haksoo.js"></script>
  </body>
</html>
